{% extends 'base.html.twig' %}

{% block body %}
        <div class="flex flex-col">
                <h1 class="text-center mb-2">Tourspel 2020</h1>
                <h4 class="text-center mb-0">Door:</h4>
                <h3 class="text-center mb-6 mt-0">René van Leeuwen</h3>
                <div class="flex flex-col">
                       <img class="w-full" src="{{ asset('build/images/FrontPage.png') }}" alt="Afbeelding">
                </div>
        </div>
{% endblock %}
