{% extends 'base.html.twig' %}

{% block title %}New Verslag{% endblock %}

{% block body %}
    <h1>Create new Verslag</h1>

    {{ include('verslag/_form.html.twig') }}

    <a href="{{ path('verslag_index') }}">back to list</a>
{% endblock %}
